<div class="modal-header d-flex flex-column border-0">
  <div>
    <%= @note.title %>
  </div>
</div>
<div class="modal-body">
  <%= @note.tags %>
  <%= @note.content %>
  <%= @note.references %>
</div>
