<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script type="text/javascript" src="https://unpkg.com/moment@latest"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-data@latest/peer/umd/vis-data.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/peer/umd/vis-timeline-graph2d.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/vis-timeline/styles/vis-timeline-graph2d.min.css" >
    <script type="text/javascript" src="https://unpkg.com/vis-network@latest/peer/umd/vis-network.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/vis-network/styles/vis-network.min.css">
  </head>
  <body class="bg-dark">
    <nav class="container navbar navbar-expand bg-dark navbar-dark sticky-top">
      <a class="navbar-brand text-light" href="/notes">Notes</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" id="graph-modal"><i class="material-icons-round">bubble_chart</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" id="chart-modal"><i class="material-icons-round">show_chart</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" id="tags-modal"><i class="material-icons-round">text_fields</i></a>
        </li>
        <li class="nav-item">
          <%# <div type="button" class="nav-link" id="new-modal">Add Note</div> %>
          <a class="nav-link" href="javascript:void(0)" id="new-modal"><i class="material-icons-round">post_add</i></a>
        </li>
      </ul>
      <form class="form-inline" action="/notes" method="get">
        <input class="form-control form-control-sm mr-2 bg-light border-0 text-reset" type="text" name="search_tags" placeholder="tags">
        <input class="form-control form-control-sm mr-2 bg-light border-0 text-reset" type="text" name="search_words" placeholder="words">
        <button class="btn btn-sm btn-outline-light" type="submit">Search</button>
      </form>
    </nav>
    <div class="container py-3">
      <%= yield %>
    </div>
  </body>
</html>
