<form action="/notes" method="post">
  <div class="modal-header h3">Add Note
    <a type="button" class="text-secondary" href="javascript:void(0)" id="new-note"><i class="material-icons">done</i></a>
  </div>
  <div class="modal-body">
    <input class="form-control form-control-sm bg-dark text-light border-0" type="text" name="title" placeholder="title">
    <input class="form-control form-control-sm bg-dark text-light border-0" type="text" name="tags" placeholder="tags">
    <textarea class="form-control form-control-sm bg-dark text-light border-0" rows="5" name="content" placeholder="content"></textarea>
    <input class="form-control form-control-sm bg-dark text-light border-0" type="text" name="references" placeholder="references">
  </div>
</form>
