<div class="modal-dialog modal-dialog-centered" style="width: 28rem;">
  <div class="modal-content bg-light border-0" style="min-height: 28rem;">
    <div class="modal-header d-flex flex-column border-0">
      <div class="d-flex w-100">
        <div class="flex-fill">
          <textarea class="form-control bg-dark text-light border-0" rows="1" name="title" placeholder="title"></textarea>
        </div>
        <div class="pl-2 pt-1">
          <i type="button" class="material-icons-round" id="new-note">check_circle</i>
        </div>
        <div class="pl-1 pt-1">
          <i type="button" class="material-icons-round" data-dismiss="modal">cancel</i>
        </div>
      </div>
      <small class="text-muted"><%= Time.new.strftime('%B %-d, %Y') %></small>
    </div>
    <div class="modal-body">
      <div class="tags-field d-flex flex-wrap ml-n1 mb-n1">
        <div class="input-group dropdown ml-1 mb-1" style="width: 8rem;">
          <input class="form-control form-control-sm bg-dark text-light border-0" name="tags" placeholder="tag" data-toggle="dropdown" autocomplete="off">
          <ul class="dropdown-menu" id="tagsList">
            <% @tags.each do |tag| %>
              <li class="dropdown-item item-tag"><%= tag %></li>
            <% end %>
          </ul>
          <div class="input-group-append">
            <button class="btn btn-sm btn-secondary border-0 add-tag">Add</button>
          </div>
        </div>
      </div>
      <div class="py-3">
        <textarea class="form-control form-control-sm bg-dark text-light border-0" rows="5" name="content" placeholder="content"></textarea>
      </div>
      <div class="references-field d-flex flex-wrap ml-n1 mb-n1">
        <div class="dropdown ml-1 mb-1" style="width: 8rem;">
          <input class="form-control form-control-sm bg-dark text-light border-0" name="references" placeholder="reference" data-toggle="dropdown" autocomplete="off">
          <ul class="dropdown-menu" id="referencesList">
            <% @titles.each do |id, title| %>
              <li class="dropdown-item item-reference" data-add-ref="<%= id %>"><%= title %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
