<% content_for :title do %>Notes | Tags<% end %>
<% content_for :body do %>
  <%# use "@stats.notes_with_tag(tag).length" as a counter %>
  <div class="row">
    <div class="col-5 mx-auto">
      <div class="card bg-warning"  style="min-height: 28rem;">
        <div class="container card-header">
          <div class="row">
            <div class="col-11 h3">Tags</div>
            <div class="col-1 px-1">
              <a class="text-secondary" href="/notes">
                <i class="material-icons">cancel</i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <% @stats.all_tags.each do |tag| %>
            <div class="card-text pb-1">
              <a href="/notes?tags=<%= ERB::Util.url_encode(tag) %>" class="btn btn-sm btn-dark text-warning border-0"><%= tag %></a>:
              <% @stats.notes_with_tag(tag).each do |id| %>
                <a href="/notes/<%= id %>" class="text-reset">[<%= id %>]</a>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
