.card-header {
  background-color: rgba(0, 0, 0, .1);
  /* color: #343a40; */
}

/* .card-header:hover {
  color: black;
} */

.modal-header {
  background-color: rgba(0, 0, 0, .1);
}

i {
  color: darkgray;
}

i:hover {
  color: gray;
}

html {
  padding-left: calc(100vw - 100%);
}

.dropdown-menu {
  overflow-x: hidden;
  max-width: 10rem;
  max-height: 11rem;
}

.dropdown-item {
  cursor: pointer;
}
